<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jupiter Automation Test Suite">

	<listeners>
		<listener class-name="JupiterAutomationFramework.ExtentReporterNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="JupiterAutomationTestcases.ContactPageTestcase"></class>
			<class name="JupiterAutomationTestcases.AddProductTestcase"></class>

		</classes>
	</test>
</suite>